.sidebarLink {}

.sidebarLink {
  display: flex;
  justify-items: center;
  align-items: stretch;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  color: #939499;
  text-decoration: inherit;
  font-family: 'Mulish';
  padding: 15px 0;
  border-left: 5px;
}

.sidebarLink>.icon {
  padding: 0 25px;
}

.sidebarLink.active {
  color: #0B152D;
  font-family: Mulish-SemiBold;
  border-left: 3.5px solid #3751FF;
}

.sidebarLink>.indicator {
  width: 2.5px;
  background-color: #3751FF;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.sidebarLink .indicator.empty {
  background-color: transparent;
}

.sidebar.is-sidebar-small>.menu>.sidebarLink {
  justify-content: center;
}