.documentsListItem {
  /* padding: 5px 10px; */
  width: 200px;
  background: white;
  -webkit-box-shadow: 0px 4px 8px -3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px -3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px -3px rgba(34, 60, 80, 0.2);
  border-radius: 2%;
  overflow: hidden;
  cursor: pointer;
}
.documentsListItem .document {
  aspect-ratio: 210/297;
  width: 100%;
  background: rgb(224, 224, 224);
}
.documentsListItem .infoContainer {
  padding: 10px 10px;
}
.documentsListItem:hover { /* Убираем подчеркивание */ /* Цвет ссылки при наведении на нее курсора мыши */  
  background: #3d41d8; /* Цвет фона */
  color:white
 }