.sidebar {
  background-color: #3d41d8;
  -webkit-transition-duration: 0.8s;
  transform-origin: left;
}
.sidebar h3 {
  margin: 0;
}
.sidebar > .header {
  flex-direction: row;
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0 10px;
}
.sidebar > .header > .title {
  font-family: Mulish-Light;
  font-size: 17px;
  color: white;
  /* padding: 0 20px 0 20px; */
}
.sidebar > .header > .icon_menu {
  /* padding-right: 25px; */
  cursor: pointer;
}
.sidebar > .menu {
  padding: 10px 70px 0px 0;
}

.sidebar.hide {
  width: 0;
  overflow: hidden;
  background-color: blueviolet;
}
