html {
  height: 100%;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  align-content: center;
  overflow-x: hidden;
  height: 100%;
  /* color: #263238; */
  background-color: #0e0e0e;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

p,
button {
  margin: 0;
  padding: 0;
  background-color: unset;
  border: unset;
  outline: none;
  font-family: 'Roboto'
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex: 1;

  overflow: hidden;
}

/* @media (max-width:700px) {
  #root {
    flex-direction: column;
  }
} */

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets//fonts/Roboto-Regular.ttf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto'), url(./assets//fonts/Roboto-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto'), url(./assets//fonts/Roboto-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto'), url(./assets//fonts/Roboto-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto'), url(./assets//fonts/Roboto-Black.ttf) format('opentype');
}