html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  align-content: center;
  overflow-x: hidden;
  height: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
p,
button {
  margin: 0;
  padding: 0;
  background-color: unset;
  border: unset;
  outline: none;
  font-family:'Mulish'
}
button {
  cursor: pointer;
}

#root {
  display: flex;
  flex: 1;
}
@font-face {
  font-family: 'Mulish';
  src: local('mulish'), url(./assets//fonts/Mulish-Regular.ttf) format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Mulish-Light';
  src: local('mulish'), url(./assets//fonts/Mulish-Light.ttf) format('opentype');
}
@font-face {
  font-family: 'Mulish-SemiBold';
  src: local('mulish'), url(./assets//fonts/Mulish-SemiBold.ttf) format('opentype');
}
@font-face {
  font-family: 'Mulish-Black';
  src: local('mulish'), url(./assets//fonts/Mulish-Black.ttf) format('opentype');
}

